mat-toolbar {
    padding: 1em;
    height: auto;
}

mat-drawer {
    width: 250px;
}

.wrapper {
    height: 100%;
}

.toolbar {
    color: #95aac9;
}

.header {
    width: 100%;
}

.container {
    height: calc(100% - 91px);;
}

.navigation {
    color: #95aac9;
    padding: 1.5em;
}

.content {
    padding: 1.5em;
}
