a {
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

a:hover .nav-link-label {
    color: #12263f;
}

a:hover mat-icon {
    color: #12263f;
}

a.active .nav-link-label {
    color: #12263f;
}

a.active mat-icon {
    color: #12263f;
}

.nav-link-label {
    color: #95aac9;
    display: inline;
    text-decoration: none;
    vertical-align: super;
    margin-left: 1em;
}

mat-icon {
    color: #95aac9;
}
