<p>
    <a routerLink="/dashboard" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="home">dashboard</mat-icon><span class="nav-link-label">Dashboard</span></a>
    <a routerLink="/jobs" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="dashboard">list</mat-icon><span class="nav-link-label">Jobs</span></a>
    <a routerLink="/notifications" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="notifications">notifications</mat-icon><span class="nav-link-label">Notifications</span></a>
</p>
